* {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 30px 40px repeat(5, 1fr) 30px;
  height: 80vh;
  width: 200vh;
  background: rgb(255, 255, 255);
  grid-template-areas:
    "logo logo nav nav nav nav nav nav nav"
    "content content content sidebar sidebar sidebar sidebar sidebar sidebar  "
    " content content content container container container container container container "
    " content content content container container container container container container "
    " content content content container container container container container container "
    " content content content container container container container container container "
    " content content content container container container container container container "
    "footer footer footer footer footer footer footer footer footer  ";
  gap: 2px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.logo {
  grid-area: logo;
  background-color: #393f4d;
  display: flex;
  justify-content: space-around;
}
nav {
  grid-area: nav;
  background-color: #393f4d;
}
section {
  grid-area: content;
  background-color: #ff7755;
  display: flex;
  justify-content: space-around;
}
.leftsidebar {
  flex-direction: column;
}
.leftsidebar li {
  background-color: rgb(0, 0, 0);
  width: 300px;
  height: 60px;
  align-items: center;
}
aside {
  grid-area: sidebar;
  background-color: #ff7755;
}
main {
  grid-area: container;
  background-color: #bccbde;
  display: grid;

  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto;
}
main div {
  background-color: #ffffff;
  margin: 10px 20px;
}
.article {
  color: rgb(0, 0, 0);
  padding: 10px;
}
p {
  color: rgb(0, 0, 0);

  text-align: left;
}
footer {
  grid-area: footer;
  background-color: #393f4d;
}
